<html>
{{#each foo}}
{{this}}
{{/each}}
<div>
<h3> Create New Workout </h3>
    <form id="new_workouts" action="/createworkouts" method="post">

    Person ID: <input type="string" name="personID" placeholder="required" required>
    <br>

    Date: <input type="date" name="date" required>

    <br>

    <br>

    Exercise ID: <input type="string" name="exerciseID" placeholder="required" required>
    <br>
    Set 1 Reps: <input type="number" name="r1" placeholder="required" required>

    Set 1 Weight: <input type="number" name="w1">
    <br>
    Set 2 Reps: <input type="number" name="r2">

    Set 2 Weight: <input type="number" name="w2">
    <br>
    Set 3 Reps: <input type="number" name="r3">

    Set 3 Weight: <input type="number" name="w3">
    <br>
    Set 4 Reps: <input type="number" name="r4">

    Set 4 Weight: <input type="number" name="w4">
    <br>
    Set 5 Reps: <input type="number" name="r5">

    Set 5 Weight: <input type="number" name="w5">

    <br>
        <br>
        <input type="submit" value="Submit">

    </form>
</div>
<br/>
</html>


<a href="https://workouttracker340.herokuapp.com/">Go To Home Page</a>